<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4 centered">
    <h1>Games</h1>

    <table>
      <thead>
        <tr>
          <th class="col-xs-3">Player1</th>
          <th class="col-xs-3">Player2</th>
          <th class="col-xs-3 text-center" colspan="3">Score</th>
        </tr>
      </thead>

      <tbody>
        <% @games.each do |game| %>
          <tr>
            <td class="col-xs-3"><%= game.player1 %></td>
            <td class="col-xs-3"><%= game.player2 %></td>
            <td class="col-xs-1"><%= game.score_player1 %></td>
            <td class="col-xs-1">-</td>
            <td class="col-xs-1"><%= game.score_player2 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
