<div class="row">
  <div class="col-xs-8">
    <table cellspacing="0" class="table-bordered tictactoe">
      <% 3.times do |row| %>
        <tr>
          <% 3.times do |col| %>
            <td>
              <%= cell_html(@game.round, row, col) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-xs-4">
    <%= player_name_field(@game.player1, 1, @game.score_player1, @game.round.current_player) %>
    <%= player_name_field(@game.player2, 2, @game.score_player2, @game.round.current_player) %>
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == "alert" || name == "errors" ? "danger" : "success"  %>">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
